version: "3.7"

services:
  app:
    image: atopcu/ycsb
    environment:
      - RUN_TYPE=load
      - WORKLOAD_LOAD=workloadb
      - WORKLOAD_RUN=workloadb
      - CONNECT_STRING=35.197.84.227:2181
      - RECORD_COUNT=10
      - SERVER_PORT=80